@font-face {
  font-family: 'Pacifico Regular';
  src: url(../../fonts/Pacifico/Pacifico-Regular.ttf) format('truetype'),
        url(../../fonts/Pacifico/Pacifico-Regular.woff) format('woff'),
        url(../../fonts/Pacifico/Pacifico-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Prata Regular';
  src: url(../../fonts/Prata/Prata-Regular.ttf) format('truetype'),
      url(../../fonts/Prata/Prata-Regular.woff) format('woff'),
      url(../../fonts/Prata/Prata-Regular.woff2) format('woff2');
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Prata Regular', 'Helvetica Neue', Arial, sans-serif;
  }














