.feedback__submit-btn {
    margin: 0 auto 10px;
    text-align: center;
      width: 180px;
      height: 42px;
      border-radius: 20px;
      background-color: #1f1f1f;
      color: #F6F6F6;
      font-size: 18px;
      line-height: 22px;
      font-family: inherit;
  }